* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Karla-Bold";
  src: url("../public/assets/fonts/Karla-Bold.ttf");
}

@font-face {
  font-family: "Karla-Light";
  src: url("../public/assets/fonts/Karla-Light.ttf");
}

@font-face {
  font-family: "Karla-Regular";
  src: url("../public/assets/fonts/Karla-Regular.ttf");
}