.adminWrapper {
    background-color: seagreen;
    min-height: 100vh;
}

.adminHeader {
    padding: 20px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

h1,
h2 {
    font-family: 'Karla-Bold', sans-serif;
    color: aliceblue;
}

h2 {
    margin: 20px;
}

input {
    width: 50vw;
}

input:nth-of-type(3) {
    height: 200px;
    text-align: top left;

}

.adminHeader a {
    font-family: 'Karla-Regular', sans-serif;
    color: aliceblue;
    text-decoration: none;
}

.adminHeader a:hover {
    text-decoration: underline;
}