.adminWrapper {
    margin: 0 auto;
    width: 400px;
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    text-align: center;
}

.adminWrapper a {
    text-decoration: none;
    font-family: 'Karla-Regular', sans-serif;
    color: indigo;
    background-color: white;
    border: 2px solid indigo;
    padding: 10px 0;
    width: 170px;
}

.adminWrapper a:hover {
    text-decoration: none;
    background-color: indigo;
    color: white;
}

.adminWrapper a:active {
    box-shadow: inset 0px 0px 5px #c1c1c1;
}