.adminMain h2 {
    font-family: 'Karla-Bold', sans-serif;
    color: indigo;
}

.adminMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

input {
    width: 50vw;
    color: indigo;
    border: 2px solid indigo;
    margin: 10px;
    overflow-wrap: normal;
}

input[type=file] {
    border: none;
}

input:nth-of-type(3) {
    height: 200px;
    text-align: top left;
}

.adminMain button {
    font-family: 'Karla-Regular', sans-serif;
    color: indigo;
    background-color: white;
    border: 2px solid indigo;
    padding: 10px 20px;
}

.adminMain button:hover {
    color: white;
    background-color: indigo;
}