.detailPageMain {
    margin: 50px 40px;
}

.detailPageMain img {
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
    width: 40%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    border-radius: 10px;
}

.detailPageMain h1 {
    font-family: 'Karla-Bold', sans-serif;
    color: indigo;
    margin-bottom: 20px;
}

.detailPageMain p {
    font-family: 'Karla-Regular', sans-serif;
    color: indigo;
}

.detailHeader {
    padding: 20px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}